#Carpetas ocupadas en caso se ocupe compilar con CMake.
#Carpeta donde se contruye el compilador
build/
#Carpeta donde se crear el archivo ejecutable
bin/

##################################################
.vscode/